/* This file is for your main application css. */

@import "ui/ui_main.css";
/*@import "./phoenix.css";*/

img {
    /*width: calc(100% - 20px);*/
}

body {
    width: calc(100% - 16px);
    position: relative;
    overflow: hidden;
    height: calc(100vh);
}

.mainWrapper {
    position: relative;
    overflow-y: scroll;
    height: 100%;
}

.container {
    text-align: center;
}