<h4>New Task</h4>

<%= render "form/form.html",
  conn: @conn,
  action: tasks_path(@conn, :create),
  changeset: @changeset
%>

<%=# render "../layout/form/datetime_picker.html",
#    conn: @conn,
#    action: tasks_path(@conn, :create),
#    changeset: @changeset
#
%>