<div class="form-group date_time">
    <%= text_input @f, :date_start, placeholder: "", class: "form-control clockpicker" %>
    <span class="text-danger"><%= error_tag @f, :title %></span>
    <link rel="stylesheet" href="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css"/>
    <script type="text/javascript" src="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>
</div>